* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    box-sizing: border-box;
}

body {
    background: black;
    color: #ffff;
}


/* Header */
#header {
    width: 100%;
    height: 100vh;
    background-image: url('img/bg.png');
    background-size: cover;
    background-position: center;
}

.container {
    padding: 0px 2%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* position: relative; */
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    /* top and bottom */
    margin: 10px 20px;
}

nav ul li a {
    color: #ffff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 20px;
}

.header-text h1 {
    margin-top: 20px;
    font-size: 38px;
}

.header-text span {
    color: #ff004f;
}


.social-icons .btn3 {
    padding: 7px 30px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

    .social-icons .btn3:hover {
       color: #fff;
    transform: translate(-5px); 
    }

.up {
  font-size: 35px;
  color: #001733;
  position: fixed;
  top: 0;
  z-index: 1;
 margin-left: 95%;
 margin-top: 42%;
}


/* About */
#about {
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 20px;
}

.about-col-2 {
    flex-basis: 60%;
    text-align: justify
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: rgb(196, 192, 192);
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #b54769;
    font-size: 16px;
}

/* .tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
} */

.OK {
    display: flex;
}

#experience {
    text-align: right
}






#sevices {
    padding: 50px 0;
}

.services-list,
.skills-list {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px,1fr)); */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: backround 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #ffff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #ff004f;
    transform: translate(-10px);
}







#skills {
    padding: 50px 0;
}

.see {
    text-align: center;
    text-decoration: none;
    margin: 10px;
    width: 100%;
    background: #ff004f;
    font-size: 18px;
    border-radius: 10px;
    color: #fff;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 20px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.work:hover img {
    transform: scale(1.1)
}

.work:hover .layer {
    height: 100%;
}



/* contact */
.contact-left {
    flex-basis: 40%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.sub-title span {
    color: #ff004f;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 25px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translate(-5px);
}

.btn {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 2%;
    border-radius: 10px;
    margin-top: 15px;
}

.btn.btn2 {
display: inline-block;
background: #ff004f;
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}




/* Animation for bubble  */
.bubbles img {
    width: 50px;
    animation: bubble 4s linear infinite;
  }
  
  .bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -100px;
  }
  
  @keyframes bubble{
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: translateY(-99vh);
      opacity: 0;
    }
  }
  
  .bubbles img:nth-child(1) {
    animation-delay: 2s;
    width: 25px;
  }
  .bubbles img:nth-child(2) {
    animation-delay: 1s;
  }
  .bubbles img:nth-child(3) {
    animation-delay: 3s;
    width: 25px;
  }
  .bubbles img:nth-child(4) {
    animation-delay: 2.5s;
  }
  .bubbles img:nth-child(5) {
    animation-delay: 1.5s;
  }
  .bubbles img:nth-child(6) {
    animation-delay: 3.5s;
    width: 20px;
  }
  .bubbles img:nth-child(7) {
    animation-delay: 2s;
    width: 35px;
  }
  
  
  
  
  
  